<div class="container">
  <div class="row">
    <div class="card" style="width: 100%; border-color: #ff9e7b">
      <div
        class="card-header text-center"
        style="color: #ff9e7b; text-transform: uppercase; font-weight: bold"
      >
        CHECK YOUR DREAM HOUSE
      </div>
      <div class="input-group" style="padding: 5px">
        <select
          class="form-select"
          [(ngModel)]="paymentId"
          (ngModelChange)="onPaymentSelectionChanged()"
        >
          <option *ngFor="let payment of lstPayments" [value]="payment.pmId">
            {{ payment.pmName }}
          </option>
        </select>
       
        <select
          class="form-select"
          [(ngModel)]="roomSizeId"
          (ngModelChange)="onRoomSizeSelectionChanged()"
        >
          <option
            *ngFor="let roomsize of lstRoomSize"
            [value]="roomsize.roomSizeId"
          >
            {{ roomsize.name }}
          </option>
        </select>
        <button
          class="btn btn-outline-secondary"
          (click)="onReset()"
          type="button"
        >
          reset
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="filteredRooms">
    <div class="row">
      <div class="col-sm-4" *ngFor="let item of filteredRooms" >
        <!-- {item.isCompleted ? "border-color:#ff9e7b": ""} -->
        <div class="card" style="width: 100%; margin-top: 5px; margin-right: 2px; border-width: 2px; ">
          <img
            [src]="item.imgPath"
            style="height: 30vh"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <div
              id="bradColor"
              style="
                display: flex;
                flex-direction: row;
                justify-content: space-between;
              "
            >
              <h5 class="card-title">{{ item.region?.name }}</h5>
              <h5 class="card-title">{{ item.area }}  &#13217;</h5>
            </div>

            <div
            id="bradColor"
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            "
          >
          <h5 class="card-title">PRICE </h5>
          <h5 class="card-title">{{ item.price | currency }} </h5>
            </div>
<!-- 
            <div class="card-text">
             
            </div> -->
            <div>{{ item.descr }}</div>
            <div style="display: flex; justify-content: center">
              <a href="#" style="background-color: #ff9e7b" class="btn"
                >View Detail</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
