<div class="container">


    <div class="aboutone">
        <div class="aboutoneImage">
            <img src="assets/about/about-2.jpg" alt="Los Angeles" class="d-block" style="width:25vw; height: 40vh; border-radius: 5vh;">
        </div>
        <div class="aboutoneText">
           
            <p>
                ድርጅታችን ፍያብ ሪል ስቴት አ.ማ በአያት በሻሌ አካባቢ 2B+G+12
            የቅይጥ አፓርታማ እየገነባ መሆኑ የሚታወቅ ሲሆን ለተወሰነ ጊዜ
            በተለያዩ ምክንያቶች ግንባታ አቁሞ እንደነበር ይታወሳል፡፡
            </p>

            <p>
                በአሁኑ ሰአት ፍያብ ሪል ስቴት ከመቼዉም ጊዜ በበለጠ ዝግጅት ብቁ እና ጠንካራ የሰዉ ሃይል ይዞ ጥራታቸዉ የተጠበቀ
            መኖሪያ ቤቶችን ገንብቶ ለማስረከብ ወደ ስራ መግባቱን እያበሰረ እስካሁን አብረዉት ለተጓዙ ሁሉ ሰለአብሮነታቹ እናመሰግናለን ለማለት ይወዳል፡፡
            </p>
        </div>
       
        <div class="aboutoneImage">
            <img src="assets/about/about-1.jpg" alt="Los Angeles" class="d-block" style="width:25vw; height: 40vh; border-radius: 5vh;">
        </div>
    </div>

</div>