<div class="container">

    <div class="row" style=" padding-top: 15px;">
        <div class="col-sm-12"
            style="display: flex; flex-direction:column; align-items: center; justify-content: center;">
            <p style="font-weight:bold; color:#ff9e7b; font-size:5vh">
                ABOUT FIAB REALESTATE
            </p>
        </div>
        <div>
            <p>
                It is known that our company Fiab Real Estate S.C.
                is building a 2B+G+12 mixed apartment in Ayat Shale
                area.
            </p>

            <p>
                At present, Fiab Real Estate is more prepared than ever and has a qualified and strong manpower to
                protect the quality of the job.
                we like to say thank you to everyone who has traveled with us so far while
                announcing that we have started working to build and deliver houses.
        </div>
    </div>


    <div class="row" style="padding-top: 15px; padding-bottom: 15px;">
        <div class="col-sm-12"
            style="display: flex; flex-direction:column; align-items: center; justify-content: center;">
            <p style="font-weight:bold; color:#ff9e7b; font-size:5vh">
                GALLERY
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 5px;">
            <img src="assets/gallary/excavation-1.jpg" alt="Los Angeles" class="d-block"
                style="width:100%; height: 40vh; border-radius: 1vh;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 5px;">
            <img src="assets/gallary/excavation-2.jpg" alt="Los Angeles" class="d-block"
                style="width:100%; height: 40vh; border-radius: 1vh;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 5px;">
            <img src="assets/gallary/concrete-1.jpg" alt="Los Angeles" class="d-block"
                style="width:100%; height: 40vh; border-radius: 1vh;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 5px;">
            <img src="assets/gallary/concrete-2.jpg" alt="Los Angeles" class="d-block"
                style="width:100%; height: 40vh; border-radius: 1vh;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 5px;">
            <img src="assets/gallary/base-1.jpg" alt="Los Angeles" class="d-block"
                style="width:100%; height: 40vh; border-radius: 1vh;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 5px;">
            <img src="assets/gallary/base-2.jpg" alt="Los Angeles" class="d-block"
                style="width:100%; height: 40vh; border-radius: 1vh;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 5px;">
            <img src="assets/gallary/colon-1.jpg" alt="Los Angeles" class="d-block"
                style="width:100%; height: 40vh; border-radius: 1vh;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 5px;">
            <img src="assets/gallary/colon-2.jpg" alt="Los Angeles" class="d-block"
                style="width:100%; height: 40vh; border-radius: 1vh;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 5px;">
            <img src="assets/gallary/colon-3.jpg" alt="Los Angeles" class="d-block"
                style="width:100%; height: 40vh; border-radius: 1vh;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 5px;">
            <img src="assets/gallary/ground-1.jpg" alt="Los Angeles" class="d-block"
                style="width:100%; height: 40vh; border-radius: 1vh;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 5px;">
            <img src="assets/gallary/ground-2.jpg" alt="Los Angeles" class="d-block"
                style="width:100%; height: 40vh; border-radius: 1vh;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 5px;">
            <img src="assets/gallary/ground-3.jpg" alt="Los Angeles" class="d-block"
                style="width:100%; height: 40vh; border-radius: 1vh;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 5px;">
            <img src="assets/gallary/elevator-1.jpg" alt="Los Angeles" class="d-block"
                style="width:100%; height: 40vh; border-radius: 1vh;">
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 5px;">
            <img src="assets/gallary/first-floor-2.jpg" alt="Los Angeles" class="d-block"
                style="width:100%; height: 40vh; border-radius: 1vh;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 5px;">
            <img src="assets/gallary/first-floor-1.jpg" alt="Los Angeles" class="d-block"
                style="width:100%; height: 40vh; border-radius: 1vh;">
        </div>
    </div>
</div>

<div style="padding-top: 15px;">

</div>