.header-border {
    width: 100%;
    margin-bottom: 10px;
    border: #FF9E7B solid 2px;
    
    .heading, .heading-subtitle {
      text-align: center;
      margin-top: -20px
    }
   
   .heading > span, .heading-subtitle > span {
      background-color: white;
      box-shadow: white 11px 0px 0px,
                  white -13px 0px 0px;
    }
    .heading-subtitle > span {
      &:after {
        top: -13px;
      }
    }
  }