<div class="container">
    
        <div class="header-border mt-4" style="padding: 5px;">
            <h2 class="heading"><span>ለአሚጎስ አባላት ብቻ </span></h2>
            ለመኖርያ ምቹ በሆነው የአያት አካባቢ በቦሌ ክ/ከተማ የቤት ባለቤት ለመሆን ጥቂት ቤቶች ስለቀሩን ፈጥነው ይመዝገቡ
            <div class="row">
            <div class="col-sm-4 mt-5">
                <div class="header-border">
                    <h4 class="heading-subtitle"><span>ባለ 1 መኝታ</span></h4>
                    <div style="padding:7px;">
                        <ul>
                            <li>ስፋት : 52 ካሬ </li>
                            <li>ቅድመ ክፍያ 5% : 67 ሺህ </li>
                            <li>በ10 አመት የሚያልቅ $300 በየወሩ </li>
                        </ul>
                        <div class="text-center">
                            <a class="btn btn-sm btn-primary" href="/onebedroom">Read More</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-4 mt-5">
                <div class="header-border">
                    <h4 class="heading-subtitle"><span>ባለ 2 መኝታ</span></h4>
                    <div style="padding:7px;">
                        <ul>
                            <li>ስፋት : 67 ካሬ </li>
                            <li>ቅድመ ክፍያ 5% : 87 ሺህ </li>
                            <li>በ10 አመት የሚያልቅ $400 በየወሩ </li>
                        </ul>
                        <div class="text-center">
                            <a class="btn btn-sm btn-primary" href="/twobedroom">Read More</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-4 mt-5">
                <div class="header-border">
                    <h4 class="heading-subtitle"><span>ባለ 3 መኝታ</span></h4>
                    <div style="padding:7px;">
                        <ul>
                            <li>ስፋት : 130 ካሬ </li>
                            <li>ቅድመ ክፍያ 5% : 170 ሺህ </li>
                            <li>በ10 አመት የሚያልቅ $750 በየወሩ </li>
                        </ul>
                        <div class="text-center">
                            <a class="btn btn-sm btn-primary" href="/threebedroom">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- row-->
</div>