<div class="container">
    
        <div class="header-border mt-4" style="padding: 5px;">
            <h2 class="heading"><span>For Amigos members only </span></h2>
            Register now as there are only a few houses left to own a home in Bole sub-city in the convenient area of ​​Ayat.
            <div class="row">
            <div class="col-sm-4 mt-5">
                <div class="header-border">
                    <h4 class="heading-subtitle"><span>ONE BEDROOM</span></h4>
                    <div style="padding:7px;">
                        <ul>
                            <li>Area : 52 Meter Square </li>
                            <li>5% down payment : 67 Thousand </li>
                            <li>$300 per month ending in 10 years </li>
                        </ul>
                        <div class="text-center">
                            <a class="btn btn-sm btn-primary" href="/onebedroom">Read More</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-4 mt-5">
                <div class="header-border">
                    <h4 class="heading-subtitle"><span> TWO BEDROOM </span></h4>
                    <div style="padding:7px;">
                        <ul>
                            <li>Area : 67 Meter Square </li>
                            <li>5% down payment : 87 Thousand </li>
                            <li>$400 per month ending in 10 years </li>
                        </ul>
                        <div class="text-center">
                            <a class="btn btn-sm btn-primary" href="/twobedroom">Read More</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-4 mt-5">
                <div class="header-border">
                    <h4 class="heading-subtitle"><span> THREE BEDROOM </span></h4>
                    <div style="padding:7px;">
                        <ul>
                            <li>Area : 130 Meter Square </li>
                            <li>5% down payment : 170 Thousand </li>
                            <li> $750 per month ending in 10 years </li>
                        </ul>
                        <div class="text-center">
                            <a class="btn btn-sm btn-primary" href="/threebedroom">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> 
</div>