<section>
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
        <h3 class="mb-4" style="color: #FF9E7B;">TESTIMONIALS</h3>
        <p class="mb-4 pb-2 mb-md-5 pb-md-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
          numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum
          quisquam eum porro a pariatur veniam.
        </p>
      </div>
    </div>
  
    <div class="row text-center">
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="d-flex justify-content-center mb-4">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
            class="rounded-circle shadow-1-strong" width="150" height="150" />
        </div>
        <h5 class="mb-3">Maria Smantha</h5>
        <h6 class="text-primary mb-3">  Agent  </h6>
        <p class="px-xl-3">
          I highly recommend Maria Smantha and Fiab Real Estate Company
          to anyone in search of a dedicated and knowledgeable real estate professional. Thanks to them, 
          I am now happily settled in my dream home, and I couldn't be more grateful for the positive experience they provided.
        </p>
        <!-- <ul class="list-unstyled d-flex justify-content-center mb-0">
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star-half-alt fa-sm text-warning"></i>
          </li>
        </ul> -->
      </div>
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="d-flex justify-content-center mb-4">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
            class="rounded-circle shadow-1-strong" width="150" height="150" />
        </div>
        <h5 class="mb-3">Lisa Cudrow</h5>
        <h6 class="text-primary mb-3">Agent</h6>
        <p class="px-xl-3">
          I recently had the pleasure of working with Lisa Cudrow 
          from Fiab Real Estate Company in my quest to find the perfect home. 
          From the initial meeting to the closing day, the entire experience was seamless and enjoyable.
        </p>
       
      </div>
      <div class="col-md-4 mb-0">
        <div class="d-flex justify-content-center mb-4">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
            class="rounded-circle shadow-1-strong" width="150" height="150" />
        </div>
        <h5 class="mb-3">John Smith</h5>
        <h6 class="text-primary mb-3"> Sales </h6>
        <p class="px-xl-3">
          John Smith demonstrated a deep understanding of the local 
          market and took the time to listen to my preferences and concerns. Their professionalism and dedication 
          were evident throughout the entire process. What stood out the most was their commitment to 
          finding a property that not only met my criteria but exceeded my expectations.
        </p>
       
      </div>
    </div>
  </section>