<div class="container">
  <div class="row d-flex justify-content-center">
  <div class="col-md-10 col-xl-8 text-center">
    <h3 class="mb-4" style="color: #FF9E7B;">TESTIMONIALS</h3>
    <!-- <p class="mb-4 pb-2 mb-md-5 pb-md-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
          numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum
          quisquam eum porro a pariatur veniam.
        </p> -->
  </div>
</div>

<div class="row text-center">
  <div class="col-md-4 mb-5 mb-md-0">
    <div class="d-flex justify-content-center mb-4">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" class="rounded-circle shadow-1-strong"
        width="150" height="150" />
    </div>
    <h5 class="mb-3">Maria Smantha</h5>
    <h6 class="text-primary mb-3"> Buyer - 1 </h6>
    <p class="px-xl-3">
      I highly recommend Maria Smantha and Fiab Real Estate Company
      to anyone in search of a dedicated and knowledgeable real estate professional. Thanks to them,
      I am now happily settled in my dream home, and I couldn't be more grateful for the positive experience they
      provided.
    </p>
    <ul class="list-unstyled d-flex justify-content-center mb-0">
          <li>
            <i class="fa fa-star fa-sm text-warning" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-star fa-sm text-warning" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-star fa-sm text-warning" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-star fa-sm text-warning" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-star fa-sm text-warning" aria-hidden="true"></i>
          </li>
        </ul>
  </div>
  <div class="col-md-4 mb-5 mb-md-0">
    <div class="d-flex justify-content-center mb-4">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp" class="rounded-circle shadow-1-strong"
        width="150" height="150" />
    </div>
    <h5 class="mb-3">Lisa Cudrow</h5>
    <h6 class="text-primary mb-3">Buyer - 2</h6>
    <p class="px-xl-3">
      I recently had the pleasure of working with Lisa Cudrow
      from Fiab Real Estate Company in my quest to find the perfect home.
      From the initial meeting to the closing day, the entire experience was seamless and enjoyable.
    </p>
    <ul class="list-unstyled d-flex justify-content-center mb-0">
      <li>
        <i class="fa fa-star fa-sm text-warning" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-star fa-sm text-warning" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-star fa-sm text-warning" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-star fa-sm text-warning" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-star fa-sm text-warning" aria-hidden="true"></i>
      </li>
    </ul>
  </div>
  <div class="col-md-4 mb-0">
    <div class="d-flex justify-content-center mb-4">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp" class="rounded-circle shadow-1-strong"
        width="150" height="150" />
    </div>
    <h5 class="mb-3">John Smith</h5>
    <h6 class="text-primary mb-3"> Buyer - 3 </h6>
    <p class="px-xl-3">
      John Smith demonstrated a deep understanding of the local
      market and took the time to listen to my preferences and concerns. Their professionalism and dedication
      were evident throughout the entire process. What stood out the most was their commitment to
      finding a property that not only met my criteria but exceeded my expectations.
    </p>
    <ul class="list-unstyled d-flex justify-content-center mb-0">
      <li>
        <i class="fa fa-star fa-sm text-warning" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-star fa-sm text-warning" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-star fa-sm text-warning" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-star fa-sm text-warning" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-star fa-sm text-warning" aria-hidden="true"></i>
      </li>
    </ul>
  </div>
</div>
</div>


<!-- 
<div class="container">
  <div class="header-border mt-4" style="padding: 5px;">
    <h2 class="heading"><span>ለአሚጎስ አባላት ብቻ </span></h2>
    ለመኖርያ ምቹ በሆነው የአያት አካባቢ በቦሌ ክ/ከተማ የቤት ባለቤት ለመሆን ጥቂት ቤቶች ስለቀሩን ፈጥነው ይመዝገቡ
    <div class="row">
      <div class="col-sm-4 mt-5">
        <div class="header-border">
          <h4 class="heading-subtitle"><span>ባለ 1 መኝታ</span></h4>
          <div style="padding:7px;">
            <ul>
              <li>ስፋት : 52 ካሬ </li>
              <li>ቅድመ ክፍያ 5% : 67 ሺህ </li>
              <li>በ10 አመት የሚያልቅ $300 በየወሩ </li>
            </ul>
            <div class="text-center">
              <a class="btn btn-sm btn-primary" href="/onebedroom">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mt-5">
        <div class="header-border">
          <h4 class="heading-subtitle"><span>ባለ 2 መኝታ</span></h4>
          <div style="padding:7px;">
            <ul>
              <li>ስፋት : 67 ካሬ </li>
              <li>ቅድመ ክፍያ 5% : 87 ሺህ </li>
              <li>በ10 አመት የሚያልቅ $400 በየወሩ </li>
            </ul>
            <div class="text-center">
              <a class="btn btn-sm btn-primary" href="/twobedroom">Read More</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-4 mt-5">
        <div class="header-border">
          <h4 class="heading-subtitle"><span>ባለ 3 መኝታ</span></h4>
          <div style="padding:7px;">
            <ul>
              <li>ስፋት : 130 ካሬ </li>
              <li>ቅድመ ክፍያ 5% : 170 ሺህ </li>
              <li>በ10 አመት የሚያልቅ $750 በየወሩ </li>
            </ul>
            <div class="text-center">
              <a class="btn btn-sm btn-primary" href="/threebedroom">Read More</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> -->