<div class="container">
  <h1 class="text-center" style="font-weight:bold; color:#ff9e7b; font-size:5vh">FIAB REALESTATE</h1>
  <p class="text-center">Please fill out the form below and we will get back to you as soon as possible.</p>
  <div class="row">
    <div class="col-sm-6">
      <img src="assets/carousel/three-snipped.jpeg" alt="Appartment Design" height="100%" width="100%"
        style="border-radius: 3px;">
    </div>

    <div class="col-sm-6">
      <form action="send.php" method="post">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="subject" class="form-label">Subject</label>
          <input type="text" class="form-control" id="subject" name="subject" required>
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row" style=" padding-top: 15px;">
    <div class="col-sm-12" style="display: flex; flex-direction:column; align-items: center; justify-content: center;">
      <p style="font-weight:bold; color:#ff9e7b; font-size:5vh">
        OPEN HOURS
      </p>
      <ul>
        <li> MONDAY - FRIDAY => 8:30 AM to 5:30 PM </li>
        <li> SATURDAY => 8:30 AM to 12:30 AM </li>
      </ul>
      <p>
        SUNDAY => CLOSED
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-9" style="border-radius: 15px; padding-top :5px;">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3940.2018885991565!2d38.74563717386788!3d9.04534068873528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b8520975f6915%3A0xb610e0d843e3cf2b!2sFiab%20Real%20Estate%20Share%20Company!5e0!3m2!1sen!2set!4v1699721913571!5m2!1sen!2set"
        width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-sm-3" style="border-radius: 15px; padding-top :5px; justify-content: center; align-items: center;">
      <p>If you want to drive to our office. please follow the instructions below!</p>
      <p>1. Click on the directions link on the top of the map</p>
      <img src="assets/route/directions.jpg" alt="Logo" style="border-radius: 3px;">
      <p>2. Click on the car icon on the top of the left panel in the newly opened window.</p>
      <img src="assets/route/car.PNG" alt="Logo" style="border-radius: 3px;">
      <p>3. The google map will start to show you the routes.</p>
    </div>
  </div>
</div>