<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/carousel/threebed.jpeg" alt="Los Angeles" class="d-block"
                style="width:100%; height: 80vh;">
        </div>
        <div class="col-sm-6">
            <!-- <ul>
                <li> <span class="badge rounded-pill bg-primary">1</span> FOYER</li>
                <li>KITCHEN</li>
                <li>STORE</li>
                <li>LIVING DINNING</li>
                <li>CORRIDOR</li>
                <li>BED ROOM ONE</li>
                <li>BED ROOM TWO</li>
                <li>MASTER BED ROOM</li>
                <li>CLOSET</li>
                <li>MASTER BATH</li>
                <li>COMMUN BATH</li>
                <li>BALCONY ONE</li>
                <li>BALCONY TWO</li>
                <li>BALCONY THREE</li>
                <li>BALCONY FOUR</li>
            </ul> -->

            <p>
                The features and layout of a standard three-bedroom apartment
                can vary depending on factors such as location,
                building design, and individual preferences. However,
                The currently available apartment includes the following features.</p>

            <p style="font-weight: bold; padding-bottom:0px; "><span class="badge rounded-pill bg-primary">1</span>
                FOYER</p>
            <p style="font-weight: bold; "><span class="badge rounded-pill bg-primary">2</span> KITCHEN</p>
            <p style="font-weight: bold; "><span class="badge rounded-pill bg-primary">3</span> STORE</p>
            <p style="font-weight: bold; "><span class="badge rounded-pill bg-primary">4</span> LIVING DINNING</p>
            <p style="font-weight: bold; "><span class="badge rounded-pill bg-primary">5</span> CORRIDOR</p>
            <p style="font-weight: bold; "><span class="badge rounded-pill bg-primary">6, 7, 8</span> BED ROOM (ONE,
                TWO) & MASTER BED ROOM</p>
            <p style="font-weight: bold; "><span class="badge rounded-pill bg-primary">9</span> CLOSET</p>
            <p style="font-weight: bold; "><span class="badge rounded-pill bg-primary">10, 11</span> MASTER BATH &
                COMMUN BATH</p>
            <p style="font-weight: bold; "><span class="badge rounded-pill bg-primary">12, 13, 14, 15</span> BALCONY
                (ONE, TWO, THREE, FOUR)</p>
        </div>
    </div>

    <div class="row" style=" padding-top: 15px;">
        <div class="col-sm-12"
            style="display: flex; flex-direction:column; align-items: center; justify-content: center;">
            <p style="font-weight:bold; color:#ff9e7b; font-size:5vh">
                PAYMENT
            </p>
            <p>
                You can contact our sales department for any additional information
            </p>
            <ul>
                <li> Area = 130 meter square </li>
                <li> Price per meter square = $686.49 (19,839.6 Birr) </li>
                <li> First payment = 10% of the total price (<b style="color: #ff9e7b;">$8,924.37 or 257,914.8 Birr</b>) </li>
            </ul>

        </div>
    </div>
</div>