<div class="container">
  <div style="font-size: large">
    <p class="termsTitle">lps terms!</p>
  </div>

  <div>
    <p>The prerequisites for obtaining a loan can vary depending on the type. having a good credit score and a stable income can improve your chances of loan approval and may result in more favorable terms.</p>
    <ol>
      <li class="liTitle">Personal Information:</li>
      <ul>
        <li>Full name</li>
        <li>Date of birth</li>
        <li>Social Security number</li>
        <li>Contact information (address, phone number, email)</li>
      </ul>

      <li class="liTitle">Proof of Identity:</li>
      <ul>
        <li>Driver's license</li>
        <li>Passport</li>
        <li>Social Security card</li>
      </ul>

      <li class="liTitle">Proof of Income:</li>
      <ul>
        <li>Pay stubs</li>
        <li>W-2 forms</li>
        <li>Tax returns (for self-employed individuals)</li>
      </ul>

      <li class="liTitle">Employment Information:</li>
      <ul>
        <li>Current employer's name and address</li>
        <li>Length of employment</li>
      </ul>

      <li class="liTitle">Credit History:</li>
      <ul>
        <li>Credit score</li>
        <li>Credit Report</li>
      </ul>

      <li class="liTitle">Debt Information:</li>
      <ul>
        <li>Information on existing loans and debts</li>
        <li>Monthly debt obligations (credit cards, mortgages, etc.)</li>
      </ul>

      <li class="liTitle">Financial Statements:</li>
      <ul>
        <li>Bank statements</li>
        <li>Investment statements</li>
      </ul>

      <li class="liTitle">Collateral Information (if applicable):</li>
      <ul>
        <li>
          Details about the collateral (e.g., home, car) being used to secure
          the loan
        </li>
      </ul>

      <li class="liTitle">Loan Purpose:</li>
      <ul>
        <li>Explanation of how the loan funds will be used</li>
      </ul>

      <li class="liTitle">Co-Signer/Guarantor Information (if applicable):</li>
      <ul>
        <li>
          If you have a co-signer or guarantor, their personal and financial
          information may be required.
        </li>
      </ul>

      <li class="liTitle">Property Information (for mortgage loans):</li>
      <ul>
        <li> Details about the property being purchased or refinanced </li>
      </ul>

      <li class="liTitle"> Business Information (for business loans): </li>
      <ul>
        <li> For business loans, additional documentation such as business plans, financial statements, and tax returns may be required. </li>
      </ul>

    

    </ol>
  </div>
</div>
